#skill {
    overflow: hidden;
    width: 100vw;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align:center;
    float:left;
}
.resumeLink {
    display: inline-block; /* Make it a block element */
    margin-top: 20px; /* Space above the link */
    padding: 10px 20px; /* Padding for the link */
    background-color: #2980b9; /* Link color */
    color: white; /* Text color */
    text-decoration: none; /* No underline */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s; /* Smooth color transition */
}

.resumeLink:hover {
    background-color: #3498db; /* Lighter color on hover */
}



.skillTitle{
    margin: 1rem 0;
    font-size: 3rem;
    font-weight: 600;
    padding-top: 3rem;
    margin-bottom: 1.5rem;
}

.skillDesc{
    font-weight: 400;
    font-size:xx-large;
    max-width: 51rem;
    padding: 0 2rem;
}

.skillBars{
    margin: 1.5rem;
    width: 100vw;
    max-width: 80%;
    text-align: left;
}

.skillBar{
    display: flex;
    margin: 1rem;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    background: grey;
}

.skillBarImg{
    object-fit: cover;
    height: 6rem;
    width: 10rem;
    margin-right: 2rem;
}

.skillBarText>p{
    font-size:1.5rem;
    font-weight: 700;
}